.caja {
  background-color: violet;
  box-shadow: 200px;
  padding: 1px 0px 1px 0px;
  text-decoration: none;
  justify-content: right;
  width: 100%;
}

.caja li {
  justify-content: right;
  text-decoration: none;
  padding: 5px;
  /* translate: 970px; */
  border: 1px solid gray;
  border-radius: 100px;
  display: flex;
}
